#background {
  width: 1200px;
  .background {
    display: flex;
    padding: 30px;
    div {
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      margin: 10px;
      border: 1px solid black;
      cursor: pointer;
    }
    .a:hover ~ .test{
        background-color: red;
    }
  }
}
