#background {
  width: 1200px;
}
#background .background {
  display: flex;
  padding: 30px;
}
#background .background div {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px;
  border: 1px solid black;
  cursor: pointer;
}
#background .background .a:hover ~ .test {
  background-color: red;
}